.cosnoteHeader {
    /* position: fixed; */
    /* top: 0px; */
    width: 100%;
    /* z-index: 1; */
}

.loginCover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url("/static/images/loginBackground.jpg");
}

.loginCard {
    width: 372px;
    height: 372px;
    padding: 40px;
    /* opacity: 99%; */
}

.loginField {
    width: 100%;
}
