.cosnoteHeader {
    /* position: fixed; */
    /* top: 0px; */
    width: 100%;
    /* z-index: 1; */
}

.loginCover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url("/static/images/loginBackground.jpg");
}

.loginCardWrapper {
    max-width: 470px;
    height: 520px;
}

.loginCard {
    padding: 40px;
}

.loginFieldsWrapper {
    margin-top: 20px;
}

.loginField, .oauthButton {
    width: 100%;
}

.cosnoteProgress {
    position: relative;
    top: 8px;
}
