.cosnoteHeader {
    position: sticky;
    /* top: 0px; */
    width: 100%;
}

.loginCover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url("/static/images/loginBackground.jpg");
}

.loginCardWrapper {
    max-width: 480px;
    height: 480px;
    position: relative;
}

.loginCard {
    padding: 40px;
}

.loginFieldsWrapper {
    margin-top: 20px;
}

.loginField, .oauthButton, .noteTitleField, .noteLanguageDropdown {
    width: 100%;
}

.loginMetaBar {
    position: absolute;
    top: -30px;
    height: 30px;
    right: 0px;
    left: 0px;
}

.cosnoteLoginProgress {
    position: relative;
    bottom: 8px;
}

.cosnoteMainProgress {
    position: absolute;
    height: 2px;
    left: 0px;
    right: 0px;
    top: -8px;
}

.loginErrorMessage {
    min-height: 30px;
}

.sideActionBar, .cosnoteEditorWrapper, .cosnoteEditor, .cosnoteShimmer {
    width: 100%;
    height: 100%;
}

.sideActionBar {
    z-index: 3;
}

.cosnoteEditor {
    padding-top: 28px;
}

.cosnoteEditor, .sideActionBar {
    background-color: #002b36;
}

/* .developerEditor {
    padding-top: 20px;
} */

.verticalPivot {
    width: 1px;
    height: 50px;
    position: absolute;
    left: 0px;
    z-index: 1;
}

::-webkit-scrollbar {
    display: none;
}
  
::-webkit-scrollbar-track {
    display: none;
  }
